<div class="layout">
  <!-- <div class="layout" [class.sidebar-collapsed]="isSidebarCollapsed()"></div> -->
  <!-- <app-header (toggleSidebar)="toggleSidebar()" class="layout-header"></app-header> -->
  
  <div class="layout-body">
    <!-- <app-sidebar [isCollapsed]="isSidebarCollapsed()" class="layout-sidebar"></app-sidebar> -->
    
    <main class="layout-main">
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      <!-- <app-footer> class="layout-footer"></app-footer> -->
    </main>
  </div>
</div>
