<aside class="sidebar">
  <h3>{{ courseData?.title }}</h3>
  <nav>
    @for (chapter of courseData; track $index) {
      <!-- Chapter Header -->
      <div class="chapter-header" (click)="toggleChapter(chapter)">
        <span class="toggle-icon">
          {{ chapter.expanded ? '▼' : '▶' }}
        </span>
        {{ chapter.chapterName }}
      </div>

      <!-- Lessons (Expandable) -->
       @if (chapter.expanded) {
        <ul>
          @for (lesson of chapter.lessons; track $index) {
            <li>
              <a [routerLink]="['/course', courseId, 'lesson', lesson.id]"
                routerLinkActive="active">
                {{ lesson.lessonName }}
              </a>
            </li>
          }
        </ul>
      }
    }
  </nav>
</aside>